<h1>Missing Persons Form</h1>
<br>
<form>
    <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" value="{{card.name}}"/>
  </div>
   <div class="form-group">
    <label for="missingFrom">Missing From:</label>
    <input type="text" class="form-control" name="missingFrom" value="{{card.missingFrom}}"/>
  </div>
  <div class="form-group">
    <label for="missingSince">Missing since:</label>
    <input type="text" class="form-control" type="text" name="missingSince" value="{{card.missingSince}}"/>
  </div>
  <div class="form-group">
    <label for="dateofBirth">Date of Birth:</label>
    <input type="text" class="form-control" type="text" name="dateOfBirth" value="{{card.dateOfBirth}}"/>
  </div>
  <div class="form-group">
    <label for="race">Race:</label>
    <input type="text" class="form-control" type="text" name="race" value="{{card.race}}"/>
  </div>
<div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender">
      <option>Male</option>
      <option>Female</option>
    </select>
  </div> 
  <div class="form-group">
    <label for="height">Height:</label>
    <input type="text" class="form-control"  name="height" value="{{card.height}}"/>
  </div>
  <div class="form-group">
    <label for="weight">Weight:</label>
    <input type="text" class="form-control"  name="weight" value="{{card.weight}}"/>
  </div>
    <div class="form-group">
    <label for="hairColor">Hair Color</label>
    <select class="form-control" id="hairColor">
      <option>Brown</option>
      <option>Black</option>
      <option>Blonde</option>
      <option>Red</option>
    </select>
  </div>
  <div class="form-group">
    <label for="eyeColor">Eye Color</label>
    <select class="form-control" id="eyeColor">
      <option>Brown</option>
      <option>Green</option>
      <option>Blue</option>
      <option>Hazel</option>
    </select>
  </div> 
  <div class="form-group">
    <label for="details">Details on Disapperance:</label>
    <textarea class="form-control" id="card-details" rows="3">{{card.details}}</textarea>
  </div>
</form>